@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

#logo img {
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #4CAF50;
}

.link-menu {
    color: #fff;
    background-color: #555;
}

.f {
    background-color: #5b305a;
}

.l {
    background-color: #e49756;
}

.m {
    background-color: #e04b5a;
}

main {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

main.l {
    background-color: #e49756;
    color: #333;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

#principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px; /* Ajuste para se alinhar com o layout */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#principal figure {
    margin-right: 20px;
}

#principal img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

#sec_ctd {
    max-width: 60%;
}

#sec_ctd h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    color: #333;
}

#sec_ctd p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

#second {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#descricao {
    flex: 1;
}

#acesso {
    flex: 0 0 200px; /* Define uma largura fixa para o contêiner de acesso */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#acesso a {
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s, background-color 0.2s;
    color: #333;
    text-decoration: none;
    background-color: #e49756;
}

#acesso a:hover {
    background-color: #d8863d;
    transform: scale(1.1);
}

#acesso img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
